/* Allgemeines Styling */
body {      /*Body gibt das Styling für den Kompletten rumpf der Webseite*/
    font-family: Arial, sans-serif;   /*Schrifftart*/
    box-sizing: border-box;             
    color: #333;                    /*Schriftfarbe*/
    margin-left: auto;                /*Abstand Links bis zum Rand wird automatisch angepasst*/
    margin-right: auto;               /*Abstand Rechts bis zum Rand wird automatisch angepasst*/
    margin-top: 10px;                 /*Abstand Oben bis zum Rand sind 10 Pixel*/
    width: 90%;                       /*Der Body nimmt 90% der Bildschirmbreite an*/
    max-width: 1400px;                /*Der Body ist Maximal 1400px breit*/
    
} 

/* Header */
.header {       /*Angaben zum Styling der Kopfzeile*/
    background-color: #003366;  /*Angabe der Hintergrundfarbe*/
    color: white;               /*Schrifftfarbe*/
    padding: 20px 40px;           /*20 Pixel Abstand oben und unten, 40 Pixel Abstand links und rechts*/
    max-height: 124px;            /*Die Kopfzeile ist Maximal 124 Pixel Hoch*/
    border-top-left-radius: 10px;       /*Die Linke obere Ecke des Headers hat eine Rundung mit dem Wert 10 Pixel*/
    border-top-right-radius: 10px;      /*Die Rechte obere Ecke des Headers hat eine Rundung mit dem Wert 10 Pixel*/
    box-shadow: -10px -10px 20px rgba(0, 0, 0, 0.2), /* Oben links */
                10px -10px 20px rgba(0, 0, 0, 0.2);  /* Oben rechts */
    overflow: visible; /* Stellt sicher, dass der Schatten nicht abgeschnitten wird */
}

.header-content {       /*alle folgenden Angaben sorgen dasfür das der Text im Header mittig dargestellt wird*/
    display: flex;                  
    justify-content: center;
    position: relative;
    align-items: center;
}

.header-title{          
    margin: auto;       /*abstand wird automatisch angepasst*/
    text-align: center;     /*Der text wird zentrall angezeigt*/
    z-index: 1;             /*Sorgt dafür das Der Text nicht vom Bild beinfluss wird*/
}

.header-title h1 {
    margin: 0;
    font-size: 1.8rem;      /*Gibt die Größe der Schrifftart für die Überschrifft an*/
}

.header-title p {
    margin: 0;
    font-size: 1rem;        /*Gibt die Größe der Schrifftart für den Text an*/
}

.logo img {
    position: absolute;     /*Definition der Position des Bildes, das bild verschiebt sich nicht*/
    height: 90px;           /*Das Bild ist 70 Pixel Hoch*/
    width: auto;            /*Die breite des Bildes passt sich automatisch an*/
    right: 10px;            /*Das Bild hat einen Abstand von 10 Pixel zum Rechten Rand*/
    text-align: right;      /*Das Bild wird rechts positioniert*/
    top: 50%;                           /*wird benötigt damit das Bild nicht den Text beim Zentrieren beeinschränkt*/
    transform: translateY(-50%);        /*wird benötigt damit das Bild nicht den Text beim Zentrieren beeinschränkt*/
}

/* Navigation */
.navigation {
    display: flex;
    justify-content: center;
    margin: auto;
    min-width: 90%;
    background-color: white;
    padding: 10px 0;
}

.nav-btn {
    background-color: white;
    border: 1px solid #ced4da;
    color: black;
    text-decoration: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 0 10px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.nav-btn:hover {
    background-color: #003366;
    color: white;
}

/* Highlight-Bereich */
.highlight {
    background-color: #0296C6;
    color: white;
    text-align: center;
    padding: 0px 0;
    font-size: 1.2rem;
    margin-left: auto;
    margin-right: auto;
    min-width: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Schatten */
    overflow: visible; /* Stellt sicher, dass der Schatten nicht abgeschnitten wird */
    border-radius: 5px;
}
/* Main Content */
.content {
    display: flex;
    padding: 10px;
    background-color: white;
    gap: 20px;
    flex-wrap: wrap;
    box-shadow: -10px 0 20px rgba(0, 0, 0, 0.2), /* Links */
                10px 0 20px rgba(0, 0, 0, 0.2);  /* Rechts */
    overflow: visible; /* Stellt sicher, dass der Schatten nicht abgeschnitten wird */
}

.content-block {
    background-color: white;
    border: 1px solid #ced4da;
    padding: 10px 5px;
    margin: 20px;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Schatten */
    overflow: visible; /* Stellt sicher, dass der Schatten nicht abgeschnitten wird */
    min-height: 100px;
}
div#Einleitungstext {
background-color: white;
color: black; 
padding: 30px;
border: 8px solid white;
margin: 20px;
}

.content-block-U {
    background-color: white;
    border: 1px solid #ced4da;
    padding: 10px 10px;
    margin: 20px;
    border-radius: 5px;
    width: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Schatten */
    overflow: visible; /* Stellt sicher, dass der Schatten nicht abgeschnitten wird */
    min-height: 100px;
}

.content-block-U img{
    width: 100%;
    height: auto;
}

.content-block-U p{
    text-align: center;
    text-decoration: none; /* Entfernt die Standard-Unterstreichung */
    color: #003366; /* Textfarbe */
    font-size: 16px; /* Schriftgröße */   
}

    

  
/* Footer */
.footer {
    background-color: #003366;
    color: white;
    padding: 10px 10px 10px 2%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    align-items: center;
    position: relative;
    box-shadow: -10px 10px 20px rgba(0, 0, 0, 0.2), /* Unten links */
                10px 10px 20px rgba(0, 0, 0, 0.2);  /* Unten rechts */
    overflow: visible; /* Stellt sicher, dass der Schatten nicht abgeschnitten wird */
}

.footer-content {
    display: flex;
    justify-content: center;
}

.footer-content div {
    margin: 12px;
}

.line{   
    width: 100%;
    background-color: #003366;
    height: 4px;
    border-radius: 1px;
    margin: 4px auto;
}

/* buttons */
.button-link {
    text-decoration: none; /* Entfernt die Standard-Unterstreichung */
    color: white; /* Textfarbe */
    font-size: 16px; /* Schriftgröße */
    position: relative; /* Erforderlich für den Pseudo-Element-Effekt */
    padding: 0; /* Optional: Abstand um den Text */
    
}

.button-link::after {
    content: ''; /* Erstellt eine "leere" Linie */
    position: absolute;
    bottom: 0; /* Linie direkt unter dem Text */
    left: 0; /* Startpunkt der Linie */
    right: 0;
    width: 0; /* Start mit Breite 0 */
    height: 2px; /* Dicke der Linie */
    background-color: white; /* Farbe der Linie */
    border-radius: 1px;
}

.button-link:hover::after {
    width: 100%; /* Linie wird bei Hover über die gesamte Breite erweitert */
}

.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown-Inhalte verstecken */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    width: 350px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    z-index: 1000;
    bottom: 10px; /* Positioniert das Dropdown über dem Link */
    left: 50%; /* Horizontale Mitte des Links */
    transform: translate(-50%); /* Exakte Zentrierung relativ zur Textmitte und leichte Verschiebung nach oben */
}

/* Dropdown-Inhalte sichtbar machen, wenn über das Dropdown gehovt wird */
.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content p {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content p:hover {
    background-color: #f1f1f1;
}

/* Footer */
.footer {
    background-color: #003366;
    color: white;
    padding: 10px 10px 10px 2%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    align-items: center;
    position: relative;
    box-shadow: -10px 10px 20px rgba(0, 0, 0, 0.2), /* Unten links */
                10px 10px 20px rgba(0, 0, 0, 0.2);  /* Unten rechts */
    overflow: visible; /* Stellt sicher, dass der Schatten nicht abgeschnitten wird */
}

.footer-content {
    display: flex;
    justify-content: center;
}

.footer-content div {
    margin: 12px;
}

.line{   
    width: 100%;
    background-color: #003366;
    height: 4px;
    border-radius: 1px;
    margin: 4px auto;
}

/* buttons */
.button-link {
    text-decoration: none; /* Entfernt die Standard-Unterstreichung */
    color: white; /* Textfarbe */
    font-size: 16px; /* Schriftgröße */
    position: relative; /* Erforderlich für den Pseudo-Element-Effekt */
    padding: 0; /* Optional: Abstand um den Text */
    
}

.button-link::after {
    content: ''; /* Erstellt eine "leere" Linie */
    position: absolute;
    bottom: 0; /* Linie direkt unter dem Text */
    left: 0; /* Startpunkt der Linie */
    right: 0;
    width: 0; /* Start mit Breite 0 */
    height: 2px; /* Dicke der Linie */
    background-color: white; /* Farbe der Linie */
    border-radius: 1px;
}

.button-link:hover::after {
    width: 100%; /* Linie wird bei Hover über die gesamte Breite erweitert */
}

.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown-Inhalte verstecken */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    width: 350px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    z-index: 1000;
    bottom: 10px; /* Positioniert das Dropdown über dem Link */
    left: 50%; /* Horizontale Mitte des Links */
    transform: translate(-50%); /* Exakte Zentrierung relativ zur Textmitte und leichte Verschiebung nach oben */
}

/* Dropdown-Inhalte sichtbar machen, wenn über das Dropdown gehovt wird */
.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content p {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content p:hover {
    background-color: #f1f1f1;
}
