div#Infotext1 {
background-color: white;
color: black; padding: 30px;
border: 8px solid white;
margin: 20px;
}
    
#Kontaktdaten1 { 
background-color:#003366; 
color: white;
padding: 30px;
border: 8px solid white;
margin: 20px;
} 
    
div#Gesetzestexte1 { 
background-color:white;
color: black; 
padding: 30px;
border: 8px solid white;
margin: 20px;
}

#Kontaktdaten2 { 
background-color:#003366; 
color: white;
padding: 30px;
border: 8px solid white;
margin: 20px;
}
  
div#Rechtsnormen { 
background-color:white;
color: black; 
padding: 30px;
border: 8px solid white;
margin: 20px;
}
    
#Onlinekontaktformular2{
background-color: white;
color: black;
padding: 30px;
border: 8px solid white;
margin: 20px;
}
