#Infotext{
background-color: white;
color: black; 
padding: 10px;
margin: 10px 20px;
border-radius: 20px;
}



#Gesetzestexte{
background-color: white;
padding: 10px;
margin: 10px 20px;
border-radius: 20px;
}

#Steuern{
background-color: white;
padding: 10px;
margin: 10px 20px;
border-radius: 20px;
}

#Kontaktdaten{
background-color: #003366;
color: white;
padding: 10px;
margin: 10px 20px;
border-radius: 20px;
}

#Onlinekontaktformular1{
background-color: white;
color: black;
padding: 10px;
margin: 10px 20px;
border-radius: 20px;
}

div#Rechtsnormen { 
    background-color:white;
    color: black; 
    padding: 10px;
    margin: 10px 20px;
    border-radius: 20px;
    }